body {
  background-color: #111;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: pink;
  font-style: oblique;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

label {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  align-items: center;
}

input {
  width: 63%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: solid;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  display: center;
  border-inline-end-width: 1rem;
}

select {
  width: 65%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: solid;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  display: center;
  border-inline-end-width: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  display: center;
  border: solid;
  border-color: red;
}

button {
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  border: solid;
  background-color: #fff;
  color: #111;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  align-items: center;

  &:hover {
    background-color: #444;
    color: #fff;
  }
}
